In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv('bank-additional-full.csv', delimiter=';')

In [3]:
df.head()

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

In [3]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'housing', 'loan',
       'contact', 'month', 'day_of_week', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'emp.var.rate', 'cons.price.idx',
       'cons.conf.idx', 'euribor3m', 'nr.employed', 'y'],
      dtype='object')

In [4]:
df.shape

(41188, 21)

In [5]:
df.drop_duplicates(inplace=True)
df.shape

(41176, 21)

In [6]:
# no null values found!
# pd.isnull(df).sum()

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41176 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41176 non-null  int64
 1   job             41176 non-null  object
 2   marital         41176 non-null  object
 3   education       41176 non-null  object
 4   default         41176 non-null  object
 5   housing         41176 non-null  object
 6   loan            41176 non-null  object
 7   contact         41176 non-null  object
 8   month           41176 non-null  object
 9   day_of_week     41176 non-null  object
 10  duration        41176 non-null  int64
 11  campaign        41176 non-null  int64
 12  pdays           41176 non-null  int64
 13  previous        41176 non-null  int64
 14  poutcome        41176 non-null  object
 15  emp.var.rate    41176 non-null  float64
 16  cons.price.idx  41176 non-null  float64
 17  cons.conf.idx   41176 non-null  float64
 18  euribor3m       41176 non-null  float64
 19  nr.employed     41176 non-null  float64
 20  y               41176 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.9+ MB

In [8]:
maxd = df['duration'].max()
mind = df['duration'].min()
modd = df['duration'].median()
mead = df['duration'].mean()

print('max duration: ', maxd)
print('min duration: ', mind)
print('median duration: ', modd)
print('mean duration: ', mead)

max duration:  4918
min duration:  0
median duration:  180.0
mean duration:  258.3158150378861

In [9]:
agemax = df['age'].max()
agemin = df['age'].min()
agemea = df['age'].mean()
agemed = df['age'].median()
agemo = df['age'].mode()

print("max age: ", agemax)
print("min age: ", agemin)
print("mean age: ", agemea)
print("median age: ", agemed)
print("mode age: ", agemo)

max age:  98
min age:  17
mean age:  40.02380027200311
median age:  38.0
mode age:  0    31
Name: age, dtype: int64

In [12]:
from scipy.stats import zscore
import numpy as np

In [14]:
# outlier detection & treatment with z-score method

# Selecting numeric columns
df_numeric = df[['duration', 'campaign', 'pdays']]

# Computing absolute z-scores (force conversion to array)
z_scores = np.abs(zscore(df_numeric.to_numpy()))

# Capping outliers using 95th percentile
for i, col in enumerate(df_numeric.columns):
    upper_limit = df[col].quantile(0.95)
    df[col] = np.where(z_scores[:, i] > 3, upper_limit, df[col])

In [15]:
# age IQR

Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1

upper_bound = Q3 + 1.5 * IQR
df['age'] = np.where(df['age'] > upper_bound, upper_bound, df['age'])

In [16]:
from sklearn.preprocessing import LabelEncoder

In [17]:
# Feature transformation using Encoding

# Label Encoding (for binary categorical columns)
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
for col in ['default', 'housing', 'loan', 'y']:
    df[col] = le.fit_transform(df[col])

In [18]:
# One hot encoding for multi-category columns

df = pd.get_dummies(df, columns=['job', 'education', 'poutcome'], drop_first=True)

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41176 entries, 0 to 41187
Data columns (total 38 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   age                            41176 non-null  float64
 1   marital                        41176 non-null  object
 2   default                        41176 non-null  int64
 3   housing                        41176 non-null  int64
 4   loan                           41176 non-null  int64
 5   contact                        41176 non-null  object
 6   month                          41176 non-null  object
 7   day_of_week                    41176 non-null  object
 8   duration                       41176 non-null  float64
 9   campaign                       41176 non-null  float64
 10  pdays                          41176 non-null  float64
 11  previous                       41176 non-null  int64
 12  emp.var.rate                   41176 non-null  float64
 13  cons.price.idx                 41176 non-null  float64
 14  cons.conf.idx                  41176 non-null  float64
 15  euribor3m                      41176 non-null  float64
 16  nr.employed                    41176 non-null  float64
 17  y                              41176 non-null  int64
 18  job_blue-collar                41176 non-null  bool
 19  job_entrepreneur               41176 non-null  bool
 20  job_housemaid                  41176 non-null  bool
 21  job_management                 41176 non-null  bool
 22  job_retired                    41176 non-null  bool
 23  job_self-employed              41176 non-null  bool
 24  job_services                   41176 non-null  bool
 25  job_student                    41176 non-null  bool
 26  job_technician                 41176 non-null  bool
 27  job_unemployed                 41176 non-null  bool
 28  job_unknown                    41176 non-null  bool
 29  education_basic.6y             41176 non-null  bool
 30  education_basic.9y             41176 non-null  bool
 31  education_high.school          41176 non-null  bool
 32  education_illiterate           41176 non-null  bool
 33  education_professional.course  41176 non-null  bool
 34  education_university.degree    41176 non-null  bool
 35  education_unknown              41176 non-null  bool
 36  poutcome_nonexistent           41176 non-null  bool
 37  poutcome_success               41176 non-null  bool
dtypes: bool(20), float64(9), int64(5), object(4)
memory usage: 6.8+ MB

The necessary steps for cleaning the data have been performed.